@model ETA.FantasyFootbalBHPL.Models.events

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>events</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idEvents)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idEvents)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eventName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eventName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
