@model ETA.FantasyFootbalBHPL.Models.matchevents

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>matchevents</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idMatchEvents)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idMatchEvents)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.match.idMatch)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.match.idMatch)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.footballplayer.firstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.footballplayer.firstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.minute)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.minute)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.events.eventName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.events.eventName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
