@model ETA.FantasyFootbalBHPL.Models.user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>user</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.firstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cellPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cellPhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.region)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.region)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.closestCity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.closestCity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.timeZone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.timeZone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.zipCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.zipCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.squad.playersTeamName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.squad.playersTeamName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.usergroup.groupName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.usergroup.groupName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.userId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
