@model ETA.FantasyFootbalBHPL.Models.leagueparticipants

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>leagueparticipants</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idLeagueParticipants)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idLeagueParticipants)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.user.firstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user.firstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.league.leagueName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.league.leagueName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
