@model IEnumerable<ETA.FantasyFootbalBHPL.Models.squadplayer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idSquadPlayer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.squad.playersTeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.footballplayer.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priority)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idSquadPlayer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.squad.playersTeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.footballplayer.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priority)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
