@model ETA.FantasyFootbalBHPL.Models.squadstructure

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>squadstructure</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idSquadStructure)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idSquadStructure)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GK_min)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GK_min)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GK_max)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GK_max)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MF_min)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MF_min)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MF_max)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MF_max)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEF_min)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEF_min)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DEF_max)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DEF_max)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FW_min)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FW_min)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FW_max)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FW_max)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
