@model ETA.FantasyFootbalBHPL.Models.footballteam

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>footballteam</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idFootballTeam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idFootballTeam)
            @Html.ValidationMessageFor(model => model.idFootballTeam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.teamName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.teamName)
            @Html.ValidationMessageFor(model => model.teamName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
