@model ETA.FantasyFootbalBHPL.Models.playernews

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>playernews</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idPlayerNews)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idPlayerNews)
            @Html.ValidationMessageFor(model => model.idPlayerNews)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.newsMessage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.newsMessage)
            @Html.ValidationMessageFor(model => model.newsMessage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idFootballPlayer1, "footballplayer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idFootballPlayer1", String.Empty)
            @Html.ValidationMessageFor(model => model.idFootballPlayer1)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
