@model ETA.FantasyFootbalBHPL.Models.footballplayer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>footballplayer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idFootballPlayer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idFootballPlayer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.firstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.footballteam.teamName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.footballteam.teamName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.position.positionName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.position.positionName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.value)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
